body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Lato', sans-serif;
}

.container {
    margin: 0px 191px;
}

.header{
    background-image: url(../site/pic/Image.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-logo {
    color: aliceblue;
    font-weight: 700;
    font-size: 22px;
}


.header-line {
    padding-top: 56px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-txt {
    color: aliceblue;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    margin-right: 82px;
}

.header-title {
    font-family: 'Lato', sans-serif;
    color: aliceblue;
    font-weight: 500;
    font-size: 50px;
    padding-left: 200px;
    margin-top: 263px;
}

.header-subtitle {
    color: aliceblue;
    font-weight: 400;
    font-size: 16px;
    margin-top: 22px;
    padding-left: 200px;
}

.header-txt {
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    padding-bottom: 22px;
    border-bottom: 2px solid #BFC0C5;
}

.button {
    background-color: #1B7DFF;
    color: aliceblue;
    text-decoration: none;
    padding: 14px 39px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}

.button:hover {
    background-color: #052044;
    transition: 0.4s;
}

.header-search {
    padding-top: 59px;
    padding-left: 80px;
    padding-right: 150px;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.table-2 {
    background-color: aliceblue;
    margin: 100px 80px;
    height: 70vh;
    box-shadow: 0 5px 30px 0 rgba(0,0,0,0.2)
}

.table-header {
    font-family: 'Lato', sans-serif;
    padding-top: 93px;
    padding-left: 99px;
    font-weight: 500;
    font-size: 35px;
}

.pages {
    padding: 150px 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.home-txt1 {
    padding-top: 70px;
    padding-bottom: 26px;
}

.people-txt1 {
    padding-top: 70px;
    padding-bottom: 26px;
}

.shop-txt1 {
    padding-top: 70px; 
    padding-bottom: 26px;
}

.home-txt2 {
    padding-bottom: 39px;
}

.people-txt2 {
    padding-bottom: 39px;
}

.shop-txt2 {
    padding-bottom: 39px;
}

.home-learn1 {
    text-decoration: none;
    color: #1B7DFF;
}
.people-learn1 {
    text-decoration: none;
    color: #1B7DFF;
}

.shop-learn1 {
    text-decoration: none;
    color: #1B7DFF;
}

.pages-2 {
    height: 100vh;
}

.pages-header {
    margin: 131px 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.txt-p2 {
    margin: 0px 80px;
    font-weight: 500;
    font-size: 35px;
    border-bottom: 2px solid #1B7DFF;
    padding-bottom: 7px;
}

.txt2-p2 {
    margin-right: 20px;
    text-decoration: none;
    color: #1B7DFF;
}

.pages2-1img {
    margin: 0px 80px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages2-2img {
    margin: -20px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages-3 {
    height: 100vh;
}

.p3-img {
    margin: 30px 80px;

}

.p3-txt {
    margin: 0px 80px;  
    padding-left: 770px;  
}

.castle-txt1 {
    margin-top: -350px;
    font-weight: 500;
    font-size: 30px;
}

.castle-txt2 {
    margin-top: 85px;
    font-weight: 400;
    font-size: 16px;
}

.castle-href {
    color: #1B7DFF;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
}

.castl-href {
    margin-top: 58px;
}

.p3-img-hall {
    margin: -490px 80px;
    display: flex;
    justify-content: right;
}

.p3-2txt {
    margin: 190px 80px;

}

.hall-txt1 {
    margin-bottom: 45px;
    font-weight: 500;
    font-size: 30px;
}

.hall-txt2 {
    margin-top: 45px;
    font-weight: 400;
    font-size: 16px;
}

.hal-href {
    color: #1B7DFF;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
}

.hall-href {
    margin-top: 58px;
}

.Pages-4 {
    height: 160vh;
}

.pages-4-header {
    padding: 107px 80px;
    font-size: 35px;
    border-bottom: 2px solid #1B7DFF;
    padding-bottom: 7px;
}

.pages4-1img {
    padding: 32px 80px;
    display: flex;
    justify-content: space-around;
}


.pages4-2img {
    padding: 32px 80px;
    display: flex;
    justify-content: space-around;
}

.pages-4-1txt {
    padding: 10px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pages4-1-txt {
    padding: 0px 30px;
}

.btn-4page {
    padding: 43px 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button-4pages {
    margin: 0px 30px;
    text-decoration: none;
    color: white;
    background-color: #1B7DFF;
    padding: 14px 39px;
}

.button-4pages:hover {
    background-color: #052044;
    transition: 0.4s;
}

.footer1 {
    background-image: url(../site/pic/Image.png);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;

}

.footer2 {
    background-image: url(../site/pic/Footer.jpg);
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
}